@import url("./style1.css"));

*{
    margin: 0;
    padding: 0;
    background: #f8f5f1;
}

hr{
  width: 50vh;
  /* border: solid black 5px; */
  /* border-style: dotted; */
  border-top: dotted  lightslategray 10px;
  margin: auto;
}



/* loader 1 starts  */


.loader1{
    /* border: solid black 2px; */
    width: 350px;
    margin: 2em auto;
}
.loader{
    width: 50px;
    height: 50px;
    /* background: grey; */
    margin: 5em auto; 
    position: relative;
    transform: rotate(40deg);
    animation: rotate 2s infinite ;
    /* border: solid black 2px; */
}

.loader div{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    background: #542e71; 



}


.loader div:nth-child(1){
    animation:  shape_one 0.3s ease 0s infinite alternate;
    
}

.loader div:nth-child(2){
    animation:  shape_two 0.3s ease 0s infinite alternate;
    background: #fb3640;

    position: absolute;
    left: auto;
    right: 0;    
}

.loader div:nth-child(3){
    animation:  shape_three 0.3s ease 0s infinite alternate;
    background: #564a4a;
    position: absolute;
    bottom: 0;
    
}

.loader div:nth-child(4){
    animation:  shape_four 0.3s ease 0s infinite alternate;
    background: #e1e5ea; 
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
      
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
    
} 

@keyframes shape_one {
    0%{
        transform: translate(0,0);
    }
    
    100%{
        transform: translate(10px, 10px);
    }
}

@keyframes shape_two {
    0%{
        transform: translate(0,0);
    }
    
    100%{
        transform: translate(-10px, 10px);
    } 
}



@keyframes shape_three {
    0%{
        transform: translate(0,0);
    }
    
    100%{
        transform: translate(10px,-10px);
    } 
}



@keyframes shape_four {
    0%{
        transform: translate(0,0);
    }
    
    100%{
        transform: translate(-10px, -10px);
    } 
}


/* Loader 1 ends here  */



.loader2{
    /* border: 2px solid black; */
    width: 350px;
    margin: 2em auto;
    
}


.loader-2{
    width: 200px;
    height: 50px;
    /* background: grey; */
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.loader-2 div{
    
    width: 15px;
    transform: scale(2);
    height: 15px;
    border-radius: 50px;

    
    
    
}

.loader-2 div:nth-child(1){
    background: #de8971;
    animation: shape1 0.6s ease-in-out 100ms infinite alternate;
}

.loader-2 div:nth-child(2){
    background: #7b6079;
    animation: shape2 0.6s ease-in-out 200ms infinite alternate;
}

.loader-2 div:nth-child(3){
    background: #a7d0cd;
    animation: shape3 0.6s ease-in-out 300ms infinite alternate;
}

.loader-2 div:nth-child(4){
    background: #ffe9d6;
    animation: shape4 0.6s ease-in-out 400ms infinite alternate;
}


/* adding animations to the second loader */

@keyframes shape1 {
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(2);
    }
}


@keyframes shape2 {
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(2);
    }
}


@keyframes shape3 {
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(2);
    }
}


@keyframes shape4 {
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(2);
    }
}

/* second loader ends here */




/* 3rd box loader */


.loader3{
    
    position: relative;
    /* border: solid black 2px; */
    width: 500px;
    margin: 2em auto;
}

.loader-3{
    width: 400px;
    height: 150px;
    /* background: grey; */
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
}

.loader-3 div{
    /* margin: 10px; */
    border-radius: 10px;  
    transform: rotate(45deg);
}
.top{
    background: black;  
    height: 50px;
    width: 50px;
    position: absolute;
    left:5px;
    top: 25px;
    margin: 10px auto;
    border-radius:  10px;
    transform: rotate(45deg);
    animation: top 2.5s   ease infinite;
    /* transition:all 1s */

}

.loader-3 div:nth-child(1){
    animation: child1 2.5s ease infinite ;
    background: black;  
    height: 50px;
    width: 50px;
    float: right
   
}
.loader-3 div:nth-child(2){
    animation: child2 2.5s ease infinite;
    background: red;
    height: 50px;
    width: 50px;
    
   
   
}
.loader-3 div:nth-child(3){
    animation: child3     2.5s ease infinite;
    background: yellow;
    height: 50px;
    width: 50px;
   
}
.loader-3 div:nth-child(4){
    animation: child4     2.5s ease infinite;
    background: green;
    height: 50px;
    width: 50px;
   
}
.loader-3 div:nth-child(5){
    animation: child5    2.5s ease infinite;
    background: blue;
    height: 50px;
    width: 50px;
   
}
@keyframes child1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(80deg);
    }
    
}
@keyframes child2 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(80deg);
  }
  
}
@keyframes child3 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(80deg);
  }
  
}
@keyframes child4 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(80deg);
  }
  
}
@keyframes child5 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(80deg);
  }
  
}


@keyframes top {
    0%{
        transform: translate(0);
        transform: rotate(40deg);
    }

    20%{
        transform: translate(115px);
        transform: rotate(80deg);
    }
    50%{
        transform: translate(230px);
        transform: rotate(120deg);
    }
}


.loader4{

  

    /* border: solid black 2px; */
    width: 350px;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.loader-4{
    width: 112px;
    height: 112px;
}

.loader-4 div{
    border: 16px solid black;
    box-sizing: border-box;
    position: absolute;
    display: block;


}

.loader-4 div:nth-child(1){
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
    animation: anime1 4s 0s forwards ease-in-out infinite;
}

.loader-4 div:nth-child(2){
    width:48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
    animation: anime2 4s 0s forwards ease-in-out infinite;
}

.loader-4 div:nth-child(3){
    width:48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
    animation: anime3 4s 0s forwards ease-in-out infinite;
}



@-webkit-keyframes anime1 {
    0% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    25% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    75% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 0px;
    }
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  }

  
  @keyframes anime1 {
    0% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    25% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
    75% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 0px;
    }
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  }

  
  @-webkit-keyframes anime2 {
    0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    25% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    50% {
      width: 112px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    75% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  }
  @keyframes anime2 {
    0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    25% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    50% {
      width: 112px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    75% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  }
  @-webkit-keyframes anime3 {
    0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    25% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 64px;
    }
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    75% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    100% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  }
  @keyframes anime3 {
    0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
    25% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 64px;
    }
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    75% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
    100% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  }


 

.loader5{
  /* border: 2px solid black; */
  width: 350px;
  margin: 2em auto;
   
    

}
.loader5-inside{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

}


.loader5 span{
    background: red;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: block;

    animation: jump;
}

.loader5 span:nth-child(2){
  
  background: lightblue;
  
  
}

.loader5 span:nth-child(3){
  
  background: blue;
  
  
}

.loader5 span:nth-child(4){
  
  background: yellow;

  
}

.loader5 span:nth-child(5){
  
  background: green;
}

.loader5 span:not(:last-child){
  animation: animate 1.5s linear infinite
}

@keyframes animate {
  0%{
    transform: translateX(0);

  }

  100%{
    transform: translateX(35px);
  }
  
}


.loader5 span:last-child{
  animation: jump 1.5s ease-in-out infinite;
}


@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10px, -10px);
  }
  20% {
    transform: translate(20px, 10px);
  }
  30% {
    transform: translate(30px, -50px);
  }
  70% {
    transform: translate(-150px, -50px);
  }
  80% {
    transform: translate(-140px, 10px);
  }
  90% {
    transform: translate(-130px, -10px);
  }
  100% {
    transform: translate(-120px, 0);
  }


  
}
































