.inside{
    margin: 2em auto;
    width: 350px;

       
}
.equalizer{
        width: 350px;
         height: 200px;
     /* background: grey;  */
     display: flex;
     justify-content:center ;
     align-items: flex-end;
     
}


.equalizer div{
    width: 30px;
    height: 50px;
    margin: 3px
    
 

    
}

.equalizer div:nth-child(1){
    background: #542e71; 
    animation: red 1s linear  1s infinite alternate;
}

.equalizer div:nth-child(2){
    background: #fb3640;
    animation: blue 1s linear 1.2s infinite alternate;

}
.equalizer div:nth-child(3){
    background: #fdca40;
    animation: yellow 1s linear 1.4s  infinite alternate;

}
.equalizer div:nth-child(4){
    background: #4aa96c; 
    animation: green 1s linear  1.6s infinite alternate;

}
.equalizer div:nth-child(5){
    background: #564a4a;
    animation: brown 1s linear  1.8s infinite alternate;

}
.equalizer div:nth-child(6){
    background: #e1e5ea; 
    animation: pink 1s linear 2s infinite alternate;

}

@keyframes red {
    0%{
        height: 10px;
        /* animation-delay: 0.1; */
    }
    
    30%{
        height: 25px;
    }

    50%{
        height: 50px;
    }

    70%{
        height: 75px;
    }

    100%{
        height: 100px;
    }
}


@keyframes brown {
    0%{
        height: 10px;
        /* animation-delay: 0.1; */
    }
    
    30%{
        height: 30px;
    }

    50%{
        height: 60px;
    }

    70%{
        height: 80px;
    }

    100%{
        height: 100px;
    }
}


@keyframes blue {
    0%{
        height: 10px;
        /* animation-delay: 0.1; */
    }
    
    30%{
        height: 30px;
    }

    50%{
        height: 60px;
    }

    70%{
        height: 80px;
    }

    100%{
        height: 100px;
    }
}

@keyframes yellow {
    0%{
        height: 10px;
        /* animation-delay: 0.1; */
    }
    
    30%{
        height: 30px;
    }

    50%{
        height: 60px;
    }

    70%{
        height: 80px;
    }

    100%{
        height: 100px;
    }
}


@keyframes green {
    0%{
        height: 10px;
        /* animation-delay: 0.1; */
    }
    
    30%{
        height: 30px;
    }

    50%{
        height: 60px;
    }

    70%{
        height: 80px;
    }

    100%{
        height: 100px;
    }
}


@keyframes pink {
    0%{
        height: 10px;
        /* animation-delay: 0.1; */
    }
    
    30%{
        height: 30px;
    }

    50%{
        height: 60px;
    }

    70%{
        height: 80px;
    }

    100%{
        height: 100px;
    }
}






